<ion-view view-title="Review">
  <ion-content scroll="true" overflow-scroll="true">
    <div class="row review-hero-row">
      <div class="col">
        <div class="review-circles">
          <!--bogota eats-->
          <div class="rating-circle">
            <div class="rating-circle-arc"></div>
            <h4>{{review.calificacion.toFixed(1)}}</h4>
          </div>
          <p>Bogotá Eats</p>

          <!--users-->
          <div class="rating-circle">
            <div class="rating-circle-arc"></div>
            <h4>{{review.calUsersTotal}}</h4>
          </div>
          <p>Usuarios</p>

          <!--money-->
          <div class="rating-circle">
            <div class="rating-circle-arc"></div>
            <h4>{{review.priceString}}</h4>
          </div>
          <p>Precio</p>
        </div>
        <img ng-src="{{review.fotos[0]}}">
        <h2>{{review.nombre}}</h2>
      </div>
    </div>
    <div class="row review-taxonomy-info">
      <div class="col">
        <span>{{review.tipoComida}}</span>
        <hr class="taxonomy-divider">
        <span>{{review.tipoOcasion}}</span>
        <hr class="taxonomy-divider">
        <span>{{review.zona}}</span>
      </div>
    </div>
    <div class="row review-relationships-info">
      <div class="col">
        <span>56 comentarios</span>
        <hr class="taxonomy-divider">
        <span>41 valoraciones</span>
      </div>
    </div>
    <div class="row review-actions">
      <div class="col">
        <button class="button"><i class="ion-share"></i></button>
      </div>
      <div class="col">
        <button class="button"><i class="ion-android-restaurant"></i></button>
      </div>
      <div class="col">
        <button class="button" ng-click="openMap()"><i class="ion-location"></i></button>
      </div>
      <div class="col">
        <button class="button" ng-click="toggleFavorite(review.id)">
          <i ng-if="!isLocalFavorite(review.id)"
             class="ion-ios-heart-outline"></i>
          <i ng-if="isLocalFavorite(review.id)"
             class="ion-ios-heart"></i>
        </button>
      </div>
    </div>
    <div class="row review-content">
      {{review.comentario}}
    </div>
    <hr class="review-horizontal">
    <div ng-if="review.dishes" class="dishes-wrapper">
      <div class="row dishes-title">
        <div class="col">
          <h3>Platos o recomendaciones</h3>
        </div>
      </div>
      <div class="dish-info-container">
        <div class="row">
          <div class="col dish-info-img">
            <img ng-src="img/test1.jpg">
          </div>
        </div>
        <div class="row dish-info">
          <div class="col">
            <h5>Nombre del plato (opcional)</h5>
            <p>Succulents swag YOLO, trust fund yr you probably haven't heard of them typewriter four dollar toast art
              party chia. Air plant chillwave portland, paleo raw denim pickled gentrify tumeric messenger bag bitters
              pinterest blue bottle cardigan hoodie. Master cleanse fashion axe everyday carry PBR&B tilde 90's. Bicycle
              rights mixtape raw denim woke ramps. Authentic hella shoreditch tousled.</p>
          </div>
        </div>
      </div>
    </div>
    <hr ng-if="review.dishes" class="review-horizontal">

    <!--botones de nuevo al final-->
    <div class="row review-actions">
      <div class="col">
        <button class="button"><i class="ion-share"></i></button>
      </div>
      <div class="col">
        <button class="button"><i class="ion-android-restaurant"></i></button>
      </div>
      <div class="col">
        <button class="button" ng-click="openMap()"><i class="ion-location"></i></button>
      </div>
      <div class="col">
        <button class="button" ng-click="toggleFavorite(review.id)">
          <i ng-if="!isLocalFavorite(review.id)"
             class="ion-ios-heart-outline"></i>
          <i ng-if="isLocalFavorite(review.id)"
             class="ion-ios-heart"></i>
        </button>
      </div>
    </div>
    <div class="comments-wrapper">
      <div class="row comments-title">
        <div class="col">
          <div class="h3">Comentarios</div>
          <div id="disqus_thread"></div>
        </div>
      </div>
      <h5 ng-if="isLoggedIn()">Calificar (opcional)</h5>
      <div ng-if="isLoggedIn()" class="row grade-form">
        <div class="col-67 grade-wrapper">
          <div class="row slider-wrapper">
            <div class="col-10">
              0
            </div>
            <div class="col-80">
              <div class="review-slider noUi-extended" ya-no-ui-slider="sliderOptions"
                   ya-no-ui-slider-events="sliderEventHandlers">
              </div>
            </div>
            <div class="col-10">
              10
            </div>
          </div>
        </div>
        <div class="col-33 publish-grade-button">
          <button ng-click="sendUserGrade()" ng-class="{'disabled': !userGrade}" class="button button-assertive">
            <span>Calificar</span>
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
