<ion-view title="Sign-In">
  <ion-header-bar class="login-bar">
    <button class="button button-clear icon ion-drag"></button>
    <h1 class="title"><img src="img/logo_horizontal.svg" alt=""></h1>
    <button class="button button-clear icon ion-hanger"></button>
  </ion-header-bar>
  <ion-content scroll="false" overflow-scroll="true">
    <ion-slides options="options" slider="data.slider">
      <ion-slide-page>
        <div class="row">
          <div class="col login-title">
            <h3 class="create-account">CREA TU CUENTA</h3>
          </div>
        </div>
        <div class="row">
          <div class="col login-col">
            <input class="be-input" type="email" ng-model="loginData.username" placeholder="Email">
            <input class="be-input" type="password" ng-model="loginData.password" placeholder="Crea tu contraseña">
            <a href="#">¿Olvidaste tus datos?</a>
          </div>
        </div>
        <div class="row padding">
          <button nav-clear class="button button-block button-positive login-button" ng-click="signUp()">
            REGISTRARSE
          </button>
        </div>
        <div class="row social-row padding">
          <div class="col">
            <p>Comenta y califica desde tu perfil de Facebook o Google</p>
            <button ng-click="loginWithFacebook()" id="facebook-signup-button" nav-clear
                    class="button button-block button-positive login-button">
              <i class="ion-social-facebook"></i>
              <span>INGRESA CON FACEBOOK</span>
            </button>
            <button ng-click="loginWithGoogle()" id="google-signup-button" nav-clear
                    class="button button-block button-positive login-button">
              <i class="ion-social-google-outline"></i>
              <span>INGRESA CON GOOGLE</span>
            </button>
            <p>No publicaremos en tu perfil</p>
          </div>
        </div>
        <div class="row no-signup-row">
          <div class="col">
            <a ng-click="continueWithoutRegistration()">Continuar sin crear cuenta <i class="ion-chevron-right"></i></a>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="row">
          <div class="col login-title">
            <h3 class="create-account">INGRESO</h3>
          </div>
        </div>
        <div class="row">
          <div class="col login-col">
            <input class="be-input" type="email" ng-model="loginData.username" placeholder="Email">
            <input class="be-input" type="password" ng-model="loginData.password" placeholder="Crea tu contraseña">
            <a href="#">¿Olvidaste tus datos?</a>
          </div>
        </div>
        <div class="row padding">
          <button id="log-in-button" nav-clear class="button button-block button-positive login-button" ng-click="logIn()">
            INICIAR SESIÓN
          </button>
        </div>
        <div class="row social-row padding">
          <div class="col">
            <p>Comenta y califica desde tu perfil de Facebook o Google</p>
            <button ng-click="loginWithFacebook()" id="facebook-login-button" nav-clear
                    class="button button-block button-positive login-button">
              <i class="ion-social-facebook"></i>
              <span>INGRESA CON FACEBOOK</span>
            </button>
            <button ng-click="loginWithGoogle()" id="google-login-button" nav-clear
                    class="button button-block button-positive login-button">
              <i class="ion-social-google-outline"></i>
              <span>INGRESA CON GOOGLE</span>
            </button>
            <p>No publicaremos en tu perfil</p>
          </div>
        </div>
        <div class="row no-signup-row">
          <div class="col">
            <a ng-click="continueWithoutRegistration()">Continuar sin iniciar sesión <i class="ion-chevron-right"></i></a>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>
