<ion-view view-title="Administrador" class="background">
  <ion-nav-bar class="background-nav">
  </ion-nav-bar>
  <ion-content scroll="true" overflow-scroll="true" class="card-background-page">
    <div class="list">
      <div class="col-offset-10 button-admin">
        <button class="button button-app"  ui-sref="newReview" >
          <span>
            Crear Nuevo Review
          </span>
        </button>
      </div>
      <div class="col-offset-10 button-admin">
        <button class="button button-app" ui-sref="editableReviews">
          <span>
            Editar Reviews Existentes
          </span>
        </button>
      </div>
      <div class="col-offset-10 button-admin">
        <button class="button button-app" ui-sref="editableReviews">
          <span>
            Reviews en Proceso
          </span>
        </button>
      </div>
      <div class="col-offset-10 button-admin">
        <button class="button button-app" ui-sref="editableReviews">
          <span>
            Reviews Escondidos
          </span>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
