<ion-view view-title="Crear Nuevo Review">
  <ion-nav-bar class="background-nav">
  </ion-nav-bar>
  <ion-content scroll="true" overflow-scroll="true" class="card-background-page">
    <div class="list" ng-model="review">
      <div class="item item-image" ng-click="picture()">
        <img ng-hide="foto" ng-src="../img/emptyFood.png">
        <img ng-show="foto" ng-src="{{fotos[0]}}">
        <button class="button button-photo" style="position: absolute; top: 70%; right: 35%">Agregar Fotos</button>
      </div>
      <div class="white">
      <div class="item item-input middle">
        <label class="item item-input label-block">
          <input type="text" placeholder="Nombre Restaurante" ng-model="review.nombre">
        </label>
      </div>
      <div class="item item-input middle">
        <label class="input-label label-blocked">Calificación</label><div class="white">1</div>
        <input class="col col-75" type="range" name="calificacion" min="1" max="10" ng-model="review.calificacion" value="1" list="powers"><datalist id="powers">
        <option value="0">
        <option value="+0">
      </datalist>
        <div class="white">10</div><label class="input-label label-range">{{review.calificacion}}</label>
      </div>
      <div class="item item-input middle">
        <label class="input-label label-blocked">Precio</label>
        <ion-list>
          <ion-radio ng-model="review.precio" ng-value="1">$</ion-radio>
        </ion-list>
        <ion-list>
          <ion-radio ng-model="review.precio" ng-value="2">$$</ion-radio>
        </ion-list>
        <ion-radio ng-model="review.precio" ng-value="3">$$$</ion-radio>
        <ion-list>
          <ion-radio ng-model="review.precio" ng-value="4">$$$$</ion-radio>
        </ion-list>
      </div>

      <label class="item item-select middle">
        <div class="input-label label-blocked2">
          Seleccione Tipo de Cocina
        </div>
        <select ng-model="review.tipoComida">
          <option value="Mexicana">Mexicana</option>
          <option value="Colombiana">Colombiana</option>
          <option value="Oriental">Oriental</option>
          <option value="Fusión">Fusión</option>
          <option value="Rápida">Rápida</option>
          <option value="Italiana">Italiana</option>
        </select>
      </label>

      <label class="item item-select middle">
        <div class="input-label label-blocked">
          Seleccione Ocasiones (Perfecto para)
        </div>
        <select ng-model="review.tipoOcasion">
          <option value="desayunos">Desayunos</option>
          <option value="cumpleaosMama">Cumpleaños Mamá</option>
          <option value="abuelitaDomingo">Abuelita en Domingo</option>
          <option value="mesNovia">Mes Novia</option>
          <option value="firstDate">First Date</option>
          <option value="gringo">Para el Gringo</option>
          <option value="rines">Esta en Rines</option>
          <option value="rapido">Rapido</option>
          <option value="grado">Grados</option>
          <option value="tarjCorp">Tarjeta Corporativa</option>
          <option value="tragosPicadas">Tragos y Picadas</option>
          <option value="decenteDesc">Decente para no encontrarse</option>
        </select>
      </label>

      <label class="item item-select label-block">
        <select ng-model="review.zona">
          <option selected value="nn">Seleccione Zona de Ubicación</option>
          <option value="Usaquen">Usaquen</option>
          <option value="Zona G">Zona G</option>
          <option value="Calera">Calera</option>
          <option value="Zona T">Zona T</option>
          <option value="Centro">Centro</option>
          <option value="Alrededores">Alrededores</option>
        </select>
      </label>
      </div>
      <label class="item item-input">
        <input type="text" placeholder="Agregue dirección específica" ng-model="review.direccion">
      </label>
      <label class="item item-input">
        <input type="number" placeholder="Longitud" ng-model="review.geoloc.lat">
      </label>
      <label class="item item-input">
        <input type="number" placeholder="Latitud" ng-model="review.geoloc.lng">
      </label>
      <label class="item item-input">
        <textarea placeholder="Reseña" rows="4" ng-model="review.comentario"></textarea>
      </label>
      <div class="item item-divider">
        Plato
      </div>
      <div class="item item-image" ng-click="fotoPlato()">
        <img ng-hide="review.fotos[0] !== null" ng-src="../img/emptyFood.png">
        <img ng-show="review.platos[0].foto" ng-src="{{review.fotos[0]}}">
        <button class="button button-stable button-clear" style="position: absolute; top: 70%; right: 35%">Agregar Foto</button>
      </div>
      <label class="item item-input">
        <textarea placeholder="Reseña Plato" rows="4" ng-model="review.platos[0].resena"></textarea>
      </label>
      <div class="item publish-grade-button" ng-hide="updating">
        <button ng-click="saveReview(review)" class="button button-assertive button-full">
          <span>Guardar</span>
        </button>
      </div>
      <div class="item publish-grade-button" ng-show="updating">
        <button ng-click="update(review)" class="button button-assertive button-full">
          <span>Editar</span>
        </button>
      </div>
      <div class="item publish-grade-button">
        <button ui-sref="admin" class="button button-assertive button-full">
          <span>Cancelar</span>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
