@font-face{
  font-family:'Muli-Bold';
  src: url(../font/Muli-Bold.ttf);
}
@font-face{
  font-family:'Muli-SemiBold';
  src: url(../font/Muli-SemiBold.ttf);
}
@font-face{
  font-family:'Muli-Light';
  src: url(../font/Muli-Light.ttf);
}


select {
  width: 100%;
  vertical-align: middle;
  padding: 20px;
  color: #848484;
  border-color: white;
  border-radius:50px;
  background: #f8f8f8;
}

::-webkit-input-placeholder {
 font-size: 19px;
  text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 19px;
  text-align: center;
}
::-moz-placeholder {  /* Firefox 19+ */
  font-size: 19px;
  text-align: center;
}
:-ms-input-placeholder {
  font-size: 19px;
  text-align: center;
}

.white{
  background-color: white; !important;
  border-color: white;
  border-radius: 50px;
  color: #848484;
  position: relative;
  font-size: 19px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: Muli-Light;
}

.background, .background .pane, .background .item, .background .item-complex .item-content {
  background-color: #F7514D; !important;
}

.background-nav{
  background-color: #2B3744; !important;
  color: #ffffff; !important;
  font-family: Muli-Bold; !important;
  font-size: 25px; !important;
}

.button-photo{
  color: #898989; !important;
  background-color: #E6E6E6; !important;
  border: 1px solid #AFAFAF; !important;
  font-family: Muli-Light; !important;
  border-radius: 50px;
  font-size: 19px;
}
.button-photo:active{
  color: #898989; !important;
  background-color: #E6E6E6; !important;
  border: 1px solid #AFAFAF; !important;
  font-family: Muli-Light; !important;
  border-radius: 50px;
  font-size: 19px;
}
.button-photo:hover{
  color: #898989; !important;
  background-color: #E6E6E6; !important;
  border: 1px solid #AFAFAF; !important;
  font-family: Muli-Light; !important;
  border-radius: 50px;
  font-size: 19px;
}

.button-app{
  background-color: #F7514D; !important;
  color: #ffffff; !important;
  font-family: Muli-SemiBold; !important;
  font-size: 19px; !important;
}
.button-app:active{
  background-color: #F7514D; !important;
  color: #ffffff; !important;
  font-family: Muli-SemiBold; !important;
  font-size: 19px; !important;
}
.button-app:hover{
  background-color: #F7514D; !important;
  font-family: Muli-SemiBold; !important;
  color: #ffffff; !important;
  font-size: 19px; !important;
}
.button-admin:hover{
  background-color: #F7514D; !important;
  color: #ffffff; !important;
  font-family: Muli-SemiBold; !important;
  font-size: 19px; !important;
}
.button-admin:active{
  background-color: #F7514D; !important;
  color: #ffffff; !important;
  font-family: Muli-SemiBold; !important;
  font-size: 19px; !important;
}

.middle{
  vertical-align: middle;
  padding: 5px;
  color: #848484;
  border-color: white;
}
.label-block {
  background-color: #EFEFEF; !important;
  width: 100%;
  border-color: white;
  border-radius: 50px;
  color: #848484;
  position: relative;
  font-size: 19px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: Muli-Light;
}

.label-blocked {
  background-color: #EFEFEF; !important;
  width: 25%;
  border-radius: 50px;
  color: #848484;
  position: relative;
  font-size: 19px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: Muli-Light;
  text-align: center;
}

.label-blocked2 {
  background-color: #EFEFEF; !important;
  width: 50%; !important;
  border-radius: 50px;
  color: #848484;
  font-size: 19px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: Muli-Light;
  text-align: center;
}

.label-range {
  background-color: #EFEFEF; !important;
  width: 50px;
  border-radius: 50px;
  color: #848484;
  position: relative;
  font-size: 19px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: Muli-Light;
  text-align: center;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #f7514d;
  cursor: pointer;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #f7514d;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #F7514D;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #e6e6e6;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #E6E6E6;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 36px;
  cursor: pointer;
  background: #E6E6E6;
  border-radius: 50%;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 36px;
  cursor: pointer;
  background: transparent;
  color: transparent;|
}
input[type=range]::-ms-fill-lower {
  background: #E6E6E6;
  border-radius: 50%;
}
input[type=range]:focus::-ms-fill-lower {
  background: #E6E6E6;
  border-radius: 50%;
}
input[type=range]::-ms-fill-upper {
  background: #E6E6E6;
  border-radius: 50%;
}
input[type=range]:focus::-ms-fill-upper {
  background: #E6E6E6;
  border-radius: 50%;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 36px;
  cursor: pointer;
  animate: 0.2s;
  background: #E6E6E6;
  border-radius: 50px;
}
input[type=range]::-webkit-slider-thumb {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #F7514D;
  cursor: pointer;
  -webkit-appearance: none;


}
input[type=range]:focus::-webkit-slider-runnable-track {
  width: 100%;
  height: 36px;
  cursor: pointer;
  animate: 0.2s;
  background: #E6E6E6;
  border-radius: 50px;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 36px;
  cursor: pointer;
  animate: 0.2s;
  background: #E6E6E6;
  border-radius: 50px;
}
input[type=range]::-moz-range-thumb {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #F7514D;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 36px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #E6E6E6;
  border-radius: 50%;
}
input[type=range]::-ms-fill-upper {
  background: #E6E6E6;
  border-radius: 50%;
}
input[type=range]::-ms-thumb {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #F7514D;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #E6E6E6;
}
input[type=range]:focus::-ms-fill-upper {
  background: #E6E6E6;
}

